<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link th:include="commonMain :: commonhead">
<body class="hold-transition sidebar-mini">
<title>Listing</title>
<div class="wrapper">
  <head>
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
     <!-- SweetAlert2 -->
  <link rel="stylesheet" href="../../plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css">
  <!-- Toastr -->
  <link rel="stylesheet" href="../../plugins/toastr/toastr.min.css">
  </head>
  <link th:include="commonMain :: header">

  <link th:include="commonMain :: sidebar">
 
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Listing <span style="font-size:20px; color:#869099">P10002</span></h1>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-left">
              <li class="breadcrumb-item"><a href="main">Home</a></li>
              <li class="breadcrumb-item">Listing</li>
              <li class="breadcrumb-item active">Bank Option List</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Bank Option List</h3>
<!--                <div class="btn-group card-tools" >-->
<!--                  <button type="submit" class="btn btn-primary btn-sm" onclick="location.href = 'addnew'">Add New Record</button>-->
<!--                </div>-->
                <div th:if="${successMsg}">
                  <body th:onload="showmsg([[${successMsg}]])"></body>
                </div>
                
              </div>
              <!-- /.card-header -->
              <div class="card-body">
              
              <h3 th:text="${bankTransactionObj.bankName}"></h3>
              
              	<select>
				    <option th:each="bankTransaction : ${bankTransactions}"
				            th:value="${bankTransaction.id}"
				            th:text="${bankTransaction.bankName}"
				            th:field="*{bankTransactions}">
				    </option>
				</select>
				
				<br><br>
				<div>
				
					<a class="btn btn-success btn-xs" href="/reportPDF">[[#{button.download_jasper_report_as_pdf}]]</a> |
					<a class="btn btn-success btn-xs" href="viewReport" target="_blank">[[#{button.view_jasper_report}]]</a> |
					<a class="btn btn-success btn-xs" href="/barChart" target="_blank">[[#{button.bar_chart}]]</a> |
					<a class="btn btn-success btn-xs" href="/pieChart" target="_blank">[[#{button.pie_chart}]]</a> |
					
              		<button class="btn btn-danger btn-xs" 
              		th:onclick="confirmationPopupSubmitButton('proceedPayment',[[${bankTransactionObj.id}]],'123','456')">
              		Proceed with Payment</button>
              		
              		
              		<form action="#" th:action="@{/processForm}" method="post">
					  <input type="text" name="text1" />
					  <input type="submit" />
					</form>

              		
              		<br>
              		<form th:action="@{/processForm1}" method="post">
              		
              		<!--<select class="form-control" id="persons" name="persons" multiple="multiple">
					    <option th:each="person : ${allPersons}"
					            th:text="${person.name}" 
					            th:value="${person.id}">
					</select> -->
					
				    <label>Persons:
				        <input type="checkbox" name="persons"
				            th:each="person : ${allPersons}"
				            th:text="${person.name}"
				            th:value="${person.id}"
				        />
				    </label>
					<input type="submit" />
					</form>
              		
              	</div>
                
              </div>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <link th:include="commonMain :: footer">
  
  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- DataTables  & Plugins -->
<script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="../../plugins/jszip/jszip.min.js"></script>
<script src="../../plugins/pdfmake/pdfmake.min.js"></script>
<script src="../../plugins/pdfmake/vfs_fonts.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
<!-- SweetAlert2 -->
<script src="../../plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="../../plugins/toastr/toastr.min.js"></script>
<!-- Page specific script -->

<script src="../../dist/js/main.js"></script>

<script>
  $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
  $(function () {
        $(".bank_A").addClass("active");
    });
  function showmsg(msg){
    toastr.success(msg);
  }
  
</script>


</body>
</html>
